body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.wrap {
  padding: 0 24px;
}

.country-grid__item-first-letter {
  font-size: 30px;
}

.country-grid__item {
  break-inside: avoid;
  padding-left: 24px;
}

.country__stat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.country__names {
  display: flex;
  flex-direction: column;
}

.country__names--name {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.country__names--fullname {
  color: #aaaaaa;
  font-size: 14px;
  margin-top: 5px;
}

.country__stats {
  display: flex;
  margin-top: 0px;
  line-height: 1;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 8px;
}

.heading {
  font-size: 34px;
  padding: 42px 54px 63px 24px;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
  column-gap: 12px;
  line-height: 1.4;
}

.country__flag {
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
  border-radius: 0px;
}

.country__stats--population {
  display: flex;
}

.population__text {
  margin-top: 1px;
  margin-left: -11px;
  white-space: nowrap;
  color: rgba(91, 91, 91, 1);
}

.country__stats--area {
  display: flex;
}

.area__text {
  margin-top: -3px;
  margin-left: -11px;
  white-space: nowrap;
  color: rgba(91, 91, 91, 1);
}

.country-grid {
  column-gap: 50px;
  column-rule: 1px solid rgba(0, 0, 0, 0.15);
  columns: 1;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  .country-grid {
    columns: 2;
  }
}

@media screen and (min-width: 1200px) {
  .country-grid {
    columns: 3;
  }
}

@media screen and (min-width: 1440px) {
  .country-grid {
    columns: 4;
  }
}

@media screen and (min-width: 1920px) {
  .country-grid {
    columns: 5;
  }
}
